{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "env": { "browser": true },

  "rules": {
    "quotes": [2, "single"]
  },

  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]

}
